<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add new Hobby</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<a href="index">Main Page</a>
<a href="personList">Person List</a>
<a th:href="@{/logout}">Sign Out</a>
<h1>Create a Hobby:</h1>
<form th:action="@{/addHobby}"
      th:object="${hobbyAddForm}" method="POST">
    Person Id:
    <input type="text" readonly th:field="*{personId}" />
    <br/>
    Hobby Name:
    <input type="text" placeholder="Any skill" th:field="*{hobby_name}" />
    <br/>
    Complexity:
    <input type="text" placeholder="Number" th:field="*{complexity}" />
    <br/>
    <input type="submit" value="Add hobby" />
</form>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic; font-size: 20px; padding-top: 20px; padding-left: 20px">
    ...
</div>
<br/>



</body>
</html>