<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="index">Main Page</a>
<br/><br/>
<div th:if="${uploadMessage}" th:utext="${uploadMessage}"
     style="color:red;font-style:italic; font-size: 20px; padding-top: 20px; padding-left: 20px">
    ...
</div>
<div>
    <table border="1" width="100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Account</th>
            <th colspan="2">Hobbies</th>
            <th>Delete</th>
        </tr>
        <tr th:each ="PersonDTO : ${persons}">
            <td th:utext="${PersonDTO.id}">...</td>
            <td th:utext="${PersonDTO.name}">...</td>
            <td th:utext="${PersonDTO.birthday}">...</td>
            <td th:utext="${PersonDTO.account}">...</td>
            <td th:utext="${PersonDTO.hobbies}">...</td>
            <td width="10px"> <a th:href="@{'/hobbyList?personid=' + ${PersonDTO.id}}">⁞</a> </td>
            <td> <a th:href="@{'/delete?id=' + ${PersonDTO.id}}">x</a> </td>
        </tr>
    </table>
</div>
<br/><br/>
<a href="addPerson">Add Person</a>
<form method="POST" enctype="multipart/form-data"
      action="/upload">
    XML to upload: <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
</body>
</html>